# Ignore node_modules in both frontend and backend
/front/node_modules/
/back/node_modules/

# Ignore environment variable files
/front/.env
/back/.env

# Ignore build or output directories (if applicable)
/front/build/
/front/dist/
/back/build/
/back/dist/

/.DS_Store
 
